body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
